
/*
Necessary inputs:
fastq or bam/cram
sample_id (or some sort of identifier)
output location
threads
reference (if bam/cram)
output filename

*/

//conda.enabled = true
//docker.enabled = true

includeConfig 'conf/cramino.config'
includeConfig 'conf/nanoplot.config'

manifest {
    description = "Nanopore sequencing QC pipeline"
    nextflowVersion = ">=25.04.6"

}

plugins {
  id 'nf-schema@2.5.1'
}

params {
  input = "samplesheet.csv"
  outdir = "results"
}


validation {
  help {
    command = "Nextflow run main.nf --input samplesheet.csv --outdir results"
    beforeText = "This pipeline runs a QC for ONT sequencing data"
    enabled = true
  }
}

report.enabled = true