// gcp.config
// * Location of the work directory (bucket name + subfolder)
workDir = 'gs://pmc-bdc-dev-nextflow-wd/work'

// * Basic settings for GCP Batch Executor
process.executor = 'google-batch'

google {
    project = 'pmc-gcp-bdc-d-pip-nextflow'
    location = 'europe-west4'
    batch {
        usePrivateAddress = 'true'
        spot = 'true'
        network = 'projects/pmc-vpc-res-private-20gx/global/networks/shared-vpc-res-priv-dev'
        subnetwork = 'projects/pmc-vpc-res-private-20gx/regions/europe-west4/subnetworks/subnet-res-priv-dev'
        serviceAccountEmail = 'sa-nextflow-runner@pmc-gcp-bdc-d-pip-nextflow.iam.gserviceaccount.com'
    }
}


// Give job names more descriptive names
// False error: https://github.com/nextflow-io/nextflow/pull/6375
executor.jobName = {
    def name = task.name.tokenize(':')[-1]
        .toLowerCase()
        .replaceAll(/[^a-z0-9]/, '-')
        .replaceAll(/-+/, '-')
        .replaceAll(/^-|-$/, '')
        .take(50)
 
    if (name[0] ==~ /\d/) name = "job-${name}"
    if (name[-1] == '-') name += 'x'
    
    def workDirPrefix = task.workDir.toString().tokenize('/')
 
    "${name}-${workDirPrefix[-2]}${workDirPrefix[-1][0..<6]}"
}
